@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Megrim&display=swap');

:root {
    --background: #010101;
    --hover: #090909;
    --border: #131313;
    --text: #ffffff;
    --faded-text: #d3d3d3;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 18px;
    font-family: "Fira Sans";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

#con-intro {
    margin: 60px auto 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
}

#con-intro h1 {
    margin: 0px 0px 20px 0px;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text);
    font-family: "Megrim";
}

#con-intro p {
    width: fit-content;
    height: fit-content;
    font-weight: 400;
    color: var(--faded-text);
}

#con-link {
    margin: 60px auto 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
    border: 1px solid var(--border);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

ion-icon {
    margin: 0px 20px 0px 0px;
    font-size: 18px;
}

#con-link a {
    margin: 0px 0px;
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    text-decoration: none;
    color: var(--faded-text);
    border-bottom: 1px solid var(--border);
    transition: all 0.3s ease-in-out;
}

#con-link a:hover {
    background-color: var(--hover);
    color: var(--text);
    transition: all 0.3s ease-in-out;
    padding: 20px 30px;
    width: calc(100% - 60px);
}

#con-project {
    margin: 40px auto 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
    border: 1px solid var(--border);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

ion-icon {
    margin: 0px 20px 0px 0px;
    font-size: 18px;
}

#heading-project {
    margin: 50px auto 30px;
    width: calc(100% - 40px);
    max-width: calc(900px);
    height: fit-content;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text);
    font-family: "Megrim";
}

#con-project a {
    margin: 0px 0px;
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    text-decoration: none;
    color: var(--faded-text);
    border-bottom: 1px solid var(--border);
    transition: all 0.3s ease-in-out;
}

#con-project a:hover {
    background-color: var(--hover);
    color: var(--text);
    transition: all 0.3s ease-in-out;
    padding: 20px 30px;
    width: calc(100% - 60px);
}


footer {
    margin: 0px auto;
    padding: 70px 0px 100px 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
}

footer p {
    font-family: 'JetBrains Mono';
    color: #353535;
}