:root {
    --background: #151515;
    --text-primary: #f0f0f0;
    --text-secondary: #cfcfcf;
    --underline: #7367c9;
    --button: #4d4c8a;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Inter", sans-serif;
}

a {
    width: fit-content;
    height: fit-content;
    text-decoration: underline 2px var(--underline);
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

p {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
    line-height: 1.6;
}

.material-symbols-outlined {
    margin: 0px 8px 0px 8px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px auto;
    width: calc(100% - 40px);
    max-width: calc(900px - 40px);
    background-color: var(--background);
}

#parent-container-one {
    margin: 80px auto 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

#image-container {
    width: fit-content;
    height: fit-content;
}

#image-container img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 80px;
}

#intro-data-container {
    margin: 0px 0px 0px 40px;
    width: fit-content;
    height: fit-content;
}

#intro-data-container h1 {
    margin: 0px 0px 20px 0px;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
}

#intro-data-container p {
    margin: 0px 0px 20px 0px;
}

#parent-container-two {
    margin: 80px 0px 0px 0px;
    width: calc(100%);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

#parent-container-two div {
    min-height: 200px;
}

#parent-container-two div p {
    margin: 20px 0px 0px 0px;
    max-width: 250px;
}

#parent-container-two button {
    margin: 2px 2px 2px 0px;
    padding: 8px 8px 8px 16px;
    width: fit-content;
    height: fit-content;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 18px;
    background-color: var(--button);
    color: var(--text-primary);
    transition: 0.3s all ease;
}

#parent-container-two button:hover {
    margin: 0px 0px;
    padding: 10px 10px 10px 18px;
    transition: 0.3s all ease;
    background-color: var(--underline);
}

footer {
    margin: 80px auto 80px;
    width: calc(100%);
    height: fit-content;
}

footer p {
    font-family: "JetBrains Mono";
}