@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Megrim&display=swap');

:root {
    --body-background: #010101;
    --border: #131313;
    --headings: #ffffff;
    --text: #d3d3d3;
    --faded-text: #343434;
    --hover: #0f0f0f;
}

* {
    font-family: "Fira Sans";
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 18px;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background);
}

#homebutton_container {
    margin: 0px auto;
    padding: 50px 0px 0px 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
}

#homebutton {
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

#homebutton:hover {
    padding: 10px 30px;
    background-color: var(--hover);
    transition: all 0.3s ease;
}

#heading_container {
    margin: 0px auto;
    padding: 50px 0px 0px 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
}

#heading_container h1 {
    width: fit-content;
    height: fit-content;
    font-family: "Megrim";
    font-size: 2rem;
    font-weight: 600;
    color: var(--headings);
}

#blog_container {
    margin: 50px auto 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border: 1px solid var(--border);
}

#blog_container a {
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    border-bottom: 1px solid var(--border);
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease;
}

#blog_container a:hover {
    padding: 20px 25px;
    width: calc(100% - 50px);
    transition: 0.3s;
    background-color: var(--hover);
}

footer {
    margin: 0px auto;
    padding: 70px 0px 100px 0px;
    width: calc(100% - 40px);
    max-width: 900px;
    height: fit-content;
}

footer p {
    font-family: 'JetBrains Mono';
    color: var(--faded-text);
}